{{ $font := "fonts/JetBrainsMono-Regular.ttf" | absURL }}
{{ $background := "images/background.svg" | absURL }}
{{ $faFontsPath := "webfonts" | absURL }}

@charset "utf-8";

@font-face {
    font-family: "JetBrainsMono";
    font-style: normal;
    font-weight: 400;
    font-display: "block";
    src: url("{{ $font }}") format("truetype");
}

// Bulma overrides
$family-sans-serif: "JetBrainsMono", sans-serif;
$body-background-color: none;
$footer-background-color: none;
$body-color: #fff;
$body-font-size: 2em;
$title-color: #fff;
$subtitle-color: #fff;

@import "bulma/bulma";

// Awesome fonts
$fa-font-path: "{{ $faFontsPath }}" !default;
@import "./fa/fontawesome.scss";
@import "./fa/brands.scss";
@import "./fa/regular.scss";
@import "./fa/solid.scss";

body {
    background-image: url("{{ $background }}");
    background-size: cover;
    font-family: "JetBrainsMono", sans-serif;
    font-size: 13px;
    line-height: 1.2;
}

pre {
    font-family: "JetBrainsMono", sans-serif;
}

.logo {
    margin: auto 15%;
    max-width: 250px;
}

a.button {
    text-decoration: none;
}

.header {
    margin: 5em 0;

    .buttons {
        display: flex;
        margin-top: 2em;

        * > {
            margin-right: 5px;
        }
    }
}

.tabs-with-content {
    .tabs.is-toggle a {
        background-color: #fff;
    }

    .tabs:not(:last-child) {
        margin-bottom: 0;
    }

    .tabs-content {
        min-height: 180px;
    }

    .tab-content {
        padding: 1rem;
        display: none;
    }

    .tab-content.is-active {
        display: block;
    }

    .tab-content {
        position: relative;

        textarea {
            position: absolute;
            left: -9999px;
        }

        .clipboard {
            position: absolute;
            left: 92%;
            top: 20%;
        }
    }
}
