<main class="main">
    <div class="container is-fluid">
        <h1 class="title">GCP Support Sandboxes</h1>

        <div class="steps">

        <section class="content">            
            <h1 class="title">SuperHub is an open source tool that helps cloud practitioners to automate deployments of GCP sandbox environemnts. It offers:</h1>
            <ul>
              <li><b>Sandbox Templates</b> - Several supported sandboxed built on cloud native stack to demo the use of GKE, Spanner and other Google Cloud services.</li>
              <li><b>One-click deployment script</b> of the service to Google Cloud Platform</li>
              <li><b>Load Generator</b> - a component that produces synthetic traffic on a demo application</li>
            </ul>

        </section>
            <a href="https://ssh.cloud.google.com/cloudshell/editor?cloudshell_git_repo=https://source.developers.google.com/p/superhub/r/stacks&cloudshell_image=gcr.io/superhub/cloud-shell&cloudshell_tutorial=hub-anthos-with-demo-app-cs.md" target="_blank" class="button">
                <span class="icon">
                    <i class="fas fa-terminal"></i>
                </span>
                <span>Open in Google Cloud Shell</span>
            </a>

            <br>
            <br>
            <br>

        </div>

        <div class="tabs-with-content">
            <div class="tabs is-small is-toggle">
                <ul>
                    <li id="macos">
                        <a>
                            <span class="icon is-small">
                                <i class="fab fa-apple" aria-hidden="true"></i>
                            </span>
                            <span>MacOS</span>
                        </a>
                    </li>
                    <li id="linux">
                        <a>
                            <span class="icon is-small">
                                <i class="fab fa-linux" aria-hidden="true"></i>
                            </span>
                            <span>Linux</span>
                        </a>
                    </li>
                    <li id="windows">
                        <a>
                            <span class="icon is-small">
                                <i class="fab fa-windows" aria-hidden="true"></i>
                            </span>
                            <span>Windows</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="box tabs-content">
                {{ partial "content/install/macos/macos.html" . }}
                {{ partial "content/install/linux/linux.html" . }}
                {{ partial "content/install/windows/windows.html" . }}
            </div>
        </div>
    </div>
</main>