<main class="main">
    <div class="container is-fluid">
        <h1 class="title">GCP Support Sandboxes</h1>
        <p class="subtitle is-6">SuperHub is an open source tool that helps cloud practitioners to automate deployments of GCP sandbox environemnts. It offers:</p>

        <div class="steps">

        <section class="content is-6">            
            <ul>
              <li><b>Sandbox Templates</b> - Several supported sandboxes built on cloud native stack:
              <a target="_blank" href="https://github.com/agilestacks/google-stacks/blob/main/hub-anthos-with-demo-app.md" style="color: rgb(255, 255, 255);text-decoration: underline;">GKE</a><span>, </span> 
              <a target="_blank" href="https://github.com/agilestacks/google-stacks/blob/main/hub-php-web-server.md" style="color: rgb(255, 255, 255);text-decoration: underline;">Web Server</a><span>, </span> 
              <a target="_blank" href="https://github.com/agilestacks/google-stacks/blob/main/hub-php-web-server.md" style="color: rgb(255, 255, 255);text-decoration: underline;">Cloud SQL</a><span>. </span> 
              </li>
              <li><b>One-click Deployment</b> of complete sandbox environments to Google Cloud Platform</li>
              <li><b>Load Generator</b> - a component that produces synthetic traffic on a demo application</li>
            </ul>
        

        </section>
            <br>
            <p class="subtitle is-3">Using GCP Sandboxes from Cloud Shell</p>

        </div>

        <br>
        <div class="tabs-with-content">
            <div class="tabs is-small is-toggle">
                <ul>
                    <li id="linux">
                        <a>
                            <span class="icon is-small">
                                <i class="fas fa-cloud" aria-hidden="true"></i>
                            </span>
                            <span>Google Cloud</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="box tabs-content">
                {{ partial "content/install/gcp/linux.html" . }}
            </div>
        </div>
        <br>
        <br>
        <p class="subtitle is-3">Installing Hub CLI on a local workstation (Mac, Windows, Linux)</p>
        <br>

        <div class="tabs-with-content">
            <div class="tabs is-small is-toggle">
                <ul>
                    <li id="macos">
                        <a>
                            <span class="icon is-small">
                                <i class="fab fa-apple" aria-hidden="true"></i>
                            </span>
                            <span>MacOS</span>
                        </a>
                    </li>
                    <li id="linux">
                        <a>
                            <span class="icon is-small">
                                <i class="fab fa-linux" aria-hidden="true"></i>
                            </span>
                            <span>Linux</span>
                        </a>
                    </li>
                    <li id="windows">
                        <a>
                            <span class="icon is-small">
                                <i class="fab fa-windows" aria-hidden="true"></i>
                            </span>
                            <span>Windows</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="box tabs-content">
                {{ partial "content/install/macos/macos.html" . }}
                {{ partial "content/install/linux/linux.html" . }}
                {{ partial "content/install/windows/windows.html" . }}
            </div>
        </div>
    </div>
</main>