<main class="main">
    <div class="container is-fluid">
        <p class="subtitle is-3">Installing Hub CLI on a local workstation (Mac, Windows, Linux)</p>

        <div class="tabs-with-content">
            <div class="tabs is-small is-toggle">
                <ul>
                    <li id="macos">
                        <a>
                            <span class="icon is-small">
                                <i class="fab fa-apple" aria-hidden="true"></i>
                            </span>
                            <span>MacOS</span>
                        </a>
                    </li>
                    <li id="linux">
                        <a>
                            <span class="icon is-small">
                                <i class="fab fa-linux" aria-hidden="true"></i>
                            </span>
                            <span>Linux</span>
                        </a>
                    </li>
                    <li id="windows">
                        <a>
                            <span class="icon is-small">
                                <i class="fab fa-windows" aria-hidden="true"></i>
                            </span>
                            <span>Windows</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="box tabs-content">
                {{ partial "content/install/macos/macos.html" . }}
                {{ partial "content/install/linux/linux.html" . }}
                {{ partial "content/install/windows/windows.html" . }}
            </div>
        </div>
    </div>
</main>
