<p>
    <span>Install </span>
    <a target="_blank" href="https://aws.amazon.com/cli/">awscli</a><span>, </span>
    <a target="_blank" href="https://eksctl.io/">eksctl</a><span>, </span>
    <a target="_blank" href="https://cloud.google.com/sdk/docs/install">gcloud</a><span>, </span>
    <a target="_blank" href="https://docs.microsoft.com/en-gb/cli/azure/install-azure-cli">azure-cli</a><span>, </span>
    <a target="_blank" href="https://kubernetes.io/docs/tasks/tools/install-kubectl/">kubectl</a><span>. </span>
</p>
